<table>
  <thead>
    <tr>
      <th>Metal Cluster</th>
      <th>kubeadmin Password</th>
      <th>Login Command</th>
    </tr>
  </thead>
  <tbody>
{%- for cluster_password in site.data.passwords %}
{% capture login %}
oc login https://api.{{ cluster_password[0] }}.{{ site.data.login.base_domain }}:6443 -u kubeadmin -p {{ cluster_password[1] }}
{% endcapture %}
{% assign password=cluster_password[1] %}
    <tr>
      <td>{{ cluster_password[0] }}</td>
      <td>{% include copyable.html content=password %}</td>
      <td>{% include copyable.html content=login %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
