<div id="nav_label" class="nav-header"><h4>Navigation</h4></div>
<div id="next_prev" class="nav">
    <div id="prev" class="nav-item">
        {% if prev %}<a href="/labguides/ex-{{ prev.exercise }}/">◄ {{ prev_section }} - {{ prev.name }}</a>{% endif %}
    </div>
    <div id="next" class="nav-item">
        {% if next %}<a href="/labguides/ex-{{ next.exercise }}/">{{ next_section }} - {{ next.name }} ►</a>{% elsif page.title != "Wrap-up" %}<a href="/labguides/fin/">Wrap-up ►</a>{% endif %}
    </div>
</div>
