<network>
  <name>default</name>
  <uuid>{{ network_uuid }}</uuid>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr0' stp='on' delay='0'/>
  <mac address='52:54:00:43:3b:43'/>
  <ip address='192.168.122.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.122.2' end='192.168.122.200'/>
{% for cluster in sno_clusters %}
      <host mac='52:54:00:43:3c:{{ "%02x" % cluster.num }}' name='node{{ cluster.num }}.{{ cluster.name }}.{{ base_domain }}' ip='{{ cluster.ip }}'/>
{% endfor %}
    </dhcp>
  </ip>
</network>
